.app__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.body__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  flex-grow: 1;
}

.body-text__wrapper {
  width: 50vw;
  height: 27.5vh;
}

.body-text-title, .body-text {
  color: #282c34;
}

.body-text-title {
  margin: 0;
}

.body-text {
  margin-top: 0.5vw;
  color: #e99000;
}